# editors
.vscode
*.swp
*~

# python
.venv
__pycache__/

# build
/build*

# platform-specific pdr files
/src/pdrs/config.*

# docs
/doc/_build*

# zephyr modules and core
/modules*
/zephyr*
/requirements*



# test build artifacts
tests/pldm_tb/build_native/



