# editors
.vscode
*.swp
*~

# python
.venv
__pycache__/

# build
/build*

# platform-specific pdr files
/src/pdrs/*
!/src/pdrs/platform_defs.h

# docs
/doc/_build*

# zephyr modules and core
/modules*
/zephyr*




# test build artifacts
tests/pldm_tb/build_native/



